<div ng-controller="eqCtrl" class="element">
    <div class="label capitalize float">{{ label }}</div>

    <div class="float">
        <div class="unfloat row nowrap">
            <div class="float small">{{ data.unit.y }}</div>
            <div class="float spread">
                <div class="float small unit">▼ -{{ data.max }}</div>
                <div class="float small">0</div>
                <div class="float small">{{ data.max }} ▼</div>
            </div>
            <div class="float small unit">{{ data.unit.x }}</div>
        </div>

        <div ng-repeat="control in data.controls track by $index">
            <div ng-controller="rangeCtrl" ng-init="item = control.value; values[ control.name ] = control.value">

                <div class="unfloat row nowrap">
                    <div class="float small">{{ control.label }}</div>

                    <div class="float">
                        <input type="range" ng-model="item" min="{{ -data.max }}" max="{{ data.max }}" step="{{ data.step || 1 }}" ng-mouseup="select( { name: name, child: control.name, value: item, step: data.step } )" ng-dblclick="reset( data.value )">
                    </div>

                    <div class="float small value">{{ item | precision: data.step || 1 }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="controls">
        <div class="button center float" ng-click="export( { name: name, label: label, value: values, tag: { tag: 'eq', type: 'eq' } } )">{{ '✓' | unicode }}</div>
    </div>

    <div class="unfloat"></div>
</div>