.button
{
    border: 1px solid #222222;
    background-color: #111111;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 10px 0 10px;
    color: white;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    overflow-y: hidden;
    font-family: "courier", "serif";
}

.micro
{
    border: 1px solid #222222;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: black;
}

.button:hover, .micro:hover
{
    background-color: #666666;
}

.active
{
    background-color: #333333;
}

.center
{
    text-align: center;
}

.icon
{
    font-size: 1.3em;
    text-align: center;
    width: 46px;
    height: 22px;
    line-height: 22px;
}

.on, .wide:hover
{
    background-color: green;
    color: black;
}

.selected:after
{
    color: silver;
    content: '✓';
    text-shadow: 2px 1px 2px rgba( 32, 32, 32, 1 );
}



