:root
{
    --menu-width: 120px;
    --content-width: calc( 100vw - var( --menu-width ) - 10px );
}

.absolute
{
    position: absolute;
}

.details
{
    position: absolute;
    top: 0;
    left: calc( var( --menu-width ) + 10px );
    width: var( --content-width );
    height: 100vh;
    display: inline-block;
}

.menu
{
    position: absolute;
    top: 0;
    left: 0;
    width: var( --menu-width );
    height: 100vh;
}

.pad
{
    padding: 10px;
}

.panels
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.relative
{
    position: relative;
}

.scroll
{
    height: 100%;
    overflow: auto;
}

.view
{
    position: relative;
    width: 100%;
    height: 98%;
}