<digit name="'digit0'" label="'digit 0'" data="{ value: 0 }"></digit>
<digit name="'digit1'" label="'digit 1'" data="{ value: 1 }"></digit>
<digit name="'digit2'" label="'digit 2'" data="{ value: 2 }"></digit>
<digit name="'digit3'" label="'digit 3'" data="{ value: 3 }"></digit>
<digit name="'digit4'" label="'digit 4'" data="{ value: 4 }"></digit>
<digit name="'digit5'" label="'digit 5'" data="{ value: 5 }"></digit>
<digit name="'digit6'" label="'digit 6'" data="{ value: 6 }"></digit>
<digit name="'digit7'" label="'digit 7'" data="{ value: 7 }"></digit>
<digit name="'digit8'" label="'digit 8'" data="{ value: 8 }"></digit>
<digit name="'digit9'" label="'digit 9'" data="{ value: 9 }"></digit>
<digit name="'digit10'" label="'digit 10'" data="{ listen: 'speed' }"></digit>